* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 16px;;
}
:root {
    --red:#e74c3c;
    --red_light: hsl(6deg 78% 93%);
    --yellow:#f1c40f;
    --green_light:#2ecc71;
    --green:#27ae60;
    --blue:#3498db;
    --orange:#f39c12;
    --white:#fff;
    --gray_white: #f3f6f9;
}
.is-red {background-color: var(--red);}
.is-yellow{background-color: var(--yellow);}
.is-green{background-color: var(--green);}
.is-green-light{background-color: var(--green_light);}
.is-blue{background-color: var(--blue);}
.is-orange{background-color: var(--orange);}
.is-white{background-color: var(--white);}
.is-text-center {text-align: center;}
.is-text-left{text-align: start;}
.is-text-right{text-align: end;}
.is-text-weight-bold{font-weight: 700;}
.word-space{white-space: break-spaces;}
#app_login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--gray_white);
    padding-top: 1.5em;
}
#app_login > div:not(#success) {
    width: 25vw;
    background: var(--white);
    padding: 1em 1.2em;
    height: fit-content;
    box-shadow: 0px 7px 5px 0px #dde6ee;
    border: 1px solid #dde6ee;
}
#app_login > div h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: .6em;
}
#app_login #message_login {
    background-color: var(--red_light);
    padding: 0.5em 0.7em;
    border-radius: 2px;
    color: var(--red);
}
#app_login > div form {
    margin-top: 1.5em;
}
#app_login > div form fieldset  {
    border: none;
    margin-bottom: 1em;
}
#app_login > div form fieldset label  {
    display: block;
    margin-bottom:.5em;
    font-size: .9em;
    font-weight: 600;
}
#app_login > div form fieldset input {
    padding: 0.5em 0.7em;
    display:block;
    width:100%;
    outline:none;
}
#app_login > div form fieldset ~ button {
    display: block;
    width: 100%;
    background-color: var(--blue);
    padding: 0.8em 0;
    border-radius: 4px;
    outline: none;
    color: var(--white);
    margin-top: 2em;
    border:none;
    cursor:pointer;
}
#app_login > div form fieldset ~ button ~ a {
    font-size: .9em;
    text-align: center;
    display: block;
    margin-top: 0.8em;
    color: #999999;
    cursor: pointer;
}

#app_login > div#success #charger {
    position: relative;
    background: rgb(234,108,23);
    background: -webkit-linear-gradient(left, var(--blue) 20%, var(--gray_white) 20%);
    background: -moz-linear-gradient(left, var(--blue) 20%, var(--gray_white) 20%);
    background: -o-linear-gradient(left, var(--blue) 20%, var(--gray_white) 20%);
    background: linear-gradient(to right, var(--blue) 20%, var(--gray_white) 20%);
    width: 40px;
    height: 40px;
    margin: 0.6em auto;
    border-radius: 50%;
    animation: spinner 1.2s infinite linear;
}
#app_login > div#success #charger::after {
    content: '';
    width:90%;
    height:90%;
    background:var(--gray_white);
    top:5%;
    left:5%;
    position: absolute;
    border-radius:50%;
}
#app_login > div#success p {
    text-align: center;
}

#app_table {}
#app_table #title_section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#app_table button {
    margin-left: auto;
    padding: .2em .4em;
    background-color: var(--gray_white);
    outline: none;
    cursor: pointer;
}
#app_table table thead th,
#app_table table tbody td {
    font-size: .74em;
}
#app_table table tbody td {
    padding: .3em .5em;
    vertical-align: middle;
    /* border-right: 1px solid #333 */
}
#app_table table thead th {
    text-align: left;
}
#app_table table tbody tr {
    transition: background-color .2s
}
#app_table table tbody tr.is-orange:hover {
    background-color: #e9940c;
}
#app_table table tbody tr.is-red:hover {
    background-color: #e5412e;
}
#app_table table tbody tr.is-green:hover {
    background-color: #249e57;
}
#app_table table tbody tr.is-green-light:hover {
    background-color: #2abb67;
}
#app_table table tbody tr.is-yellow:hover {
    background-color: #deb40d;
}
#app_table table tbody tr.is-white:hover {
    background-color: var(--gray_white);
}
#app_table table tbody tr td div {
    width: 95%;
    margin: 0 auto;
    position: relative;
    padding: 1em 0.3em;
}
#app_table table tbody tr td div span.bar_percentage {
    position: absolute;
    height: 100%;
    top: 0;
    left: 1%;
    z-index: 0;
    background-color: var(--green);
}
#app_table table tbody tr td div span:first-of-type {
    position: relative;
    z-index: 2;
}
#app_table table tbody tr.active {
    background-color:var(--blue);
}
#app_table table tbody tr.active:hover {
    background-color:var(--blue);
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
    }
}